
h2 {
  font-size: 50%;
  font-size: 5vw;
}

h3 {
  color: #2cb0a2;
  font-family: 'Rockin Record';
  font-size: 35%;
  font-size: 2.5vw;
  font-weight: normal;
  margin: 0 0 5% 0;
  padding: 0;
  text-align: center;
}

h3 span {
  font-family: Impact;
}

#linkedin {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}